<div class="box">
    <div class="main">
        <div class="l">
            <h1 style="color:white">Stay at the cutting edge.</h1>
            <p style="color:white;font-size:20px;">Get unlimited access to a curated library of books and courses. Learn HTML, CSS, JavaScript, React, Python, and more. Only $3/month for the first 3 months.</p>
            <button>Get Access Now</button>
        </div>
        <div class="r">
            <img class="im" src = "../../../../assets/images/im.png" />
        </div>
    </div>
</div>
    
